@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', 'Calibri', 'Trebuchet MS', sans-serif; 
  background-color: white;
}

footer {
    display: block;
    text-align: center;
    padding: 30px 0;
    margin-top: 60px;
    color: #777;
    border-top: 1px solid #eaeaea;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  margin: 1rem;
}

h1 {
  color: rgb(5, 20, 105);
  display: block;
  text-align: center;
}
